<!--  <div>
  <h2>Article</h2>

     <strong>Title: <%= @article.title %></strong>
     <p><strong>Content: </strong><%= @article.content %></p>

  <button type="button" class="btn btn-primary">Edit</button>
  <button type="button" class="btn btn-secondary">Delete</button>
  <button type="button" class="btn btn-link">Back to articles</button>
 </div> -->


<div class="container">
  <div class="row justify-content-md-center">
      <div class="card mt-4 d-inline-flex w-50">
        <div class="card-body">
          <h5 class="card-title text-info"><%= @article.title %></h5>
          <p class="card-text"><%= @article.content %></p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm w-25">Edit</a>
          <a href="#" class="btn btn-warning btn-sm w-25">Delete</a>
          <button class="btn btn-link btn-sm w-25 border-info"><%= link_to "Back to articles", articles_path %></button>
        </div>
      </div>
  </div>
</div>
